@model IEnumerable<WebApplication2.Models.tblUser>

@{
    ViewBag.Title = "Users";
}

<h3>Users</h3>

<div>
    <p class="right"><a class="btn btn-default" href="~/Users/Create">Create New</a></p>
</div>
<div class="clear"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <!--<th></th>   //header for edit, details and delete-->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <!--<td> edit, details and delete buttons
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>-->
    </tr>
}

</table>
